  *{
    font-family: 'Open Sans','微软雅黑', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-size: 16px;
  }
  a:hover{
    text-decoration: none;
  }
  ul li{
    list-style: none;
  }
 body{
    background-color: #fff;
 }
 .navbar-default{
     background-color: #fff;
     border-color: #fff;
     height: 72px;
 }
 header{
    text-align: center;
  }
  .navbar-inc{
    box-shadow: 0 5px 10px rgba(0,0,0,0.08);
  }
  .title{
    font-family: 'Coiny',cursive, sans-serif !important;
    font-size: 7em !important;
    color:#86CD50 !important;
  }
  header small{
     color: #737373;
  }
  .nav-title{
      margin-left: 16em;
      margin-top: 0.7em;
  }
  nav ul li a{
    font-family: 'Lato', sans-serif !important;
    color: #333 !important;
    font-size: 14px;
  }
  section{
    text-align: center;
  }
  section .searchForm{
    margin-top: 20px;
  }
  section input{
    width: 53%;
    height: 3em;
    line-height: 3em;
    padding-left: 3%;
    border: 1px solid #ccc;
  }
  section .searchBtn{
    display: inline;
    background-color: #86cd50;
    padding: 0.8em 1em;
    margin-left: -4px;
  }

 .searchBtn:before,.searchBtn:after{
 	background-color: #86cd50; 
 }
.searchBtn:hover,.searchicon:hover{
  background-color:#05a24d;
  color: #fff;
}

  .tipName{
    background-color: #eee;
    padding: 1.5em;
    float: left;
    position: absolute;
    border-radius: 17px;
    font-weight: bolder;
  }
  .tip span{
    height: auto;
    width: 19em;
    background-color: #eee;
    padding: 1em;
    z-index: 100;
    position: absolute;
    margin-left: 5em;
    margin-top: -2em;
    display: none;
  }
  .tip:hover span{
    display:block;
  }
.content{
    width: 60%;
    margin: 0 auto;
    min-width: 600px;
}
.bookRow{
    background-color: #f6f8f8;
    margin: 0.5em 0em;
    padding: 0.6em 1.6em 0.2em 2em;
}
.bookRow:hover{
  border-left: 4px solid #95d669;
}
 ul li:hover h1, ul li:hover span {
        color: #95d669; 
 }
.bookId{
  position: absolute;
    left: -1.6em;
    top: 0.7em;
    font-size: 1.4em;
    color: #27b1b5;
}
.bookTitle{
  font-size: 1.4em;
    color: #27b1b5;
}
.buyUrl:hover{
  color: #95d669;
  cursor: pointer;
}

#traggle{
    float: left;
    background: #eee;
    padding: 1em;
}

/*分页样式*/
a:hover{ text-decoration:none;} 
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;} 
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px; padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;} 
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca; border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;} 

/*查询不到结果*/
.help{
    text-align: center;
    line-height: 3em;
    color: #bfbfbf;
    font-size: 1.5em;
}

  @media screen and (max-width: 760px){/* 可视区域小于 850px, 设置更小font-size属性 */
    

  }
  
  