
  *{
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }
  a:hover{
    text-decoration: none;
  }
  ul li{
    list-style: none;
  }
 /* 颜色*/
  .bg{
    background-color:#fff;
  }
  .content{
    width: 63%;
    margin:0 auto;
    margin-top:8%;
  }
  .header{
    text-align: center;
    margin-bottom: 4em;
  }
  .title{
    font-family: 'Coiny', cursive, sans-serif;
    font-size: 7em;
    color:#86cd50;
  }
  .small{   margin-top: -5em;}
 .search{
    width: 80%;
    margin: 0 auto;
    padding-top: 2em;
  }

.searchField{
  	width: 91%;
  	height: 4em;
  	line-height: 4em;
  	padding-left: 2em;
  	border:1px solid #ccc;
 }
 .searchBtn{
    display: inline-block;
    position: absolute;
    border: none;
    background-color: #86cd50;
 }
 .searchicon{
 	padding:0.5em 0.6em;
 	font-weight: 400;
 }
 .searchBtn:before,.searchBtn:after{
 	background-color: #86cd50; 
 }
.searchBtn:hover,.searchicon:hover{
  background-color:#05a24d;
  color: #fff;
}
.bookRow{
  background-color: #f6f8f8;
    margin: 0.5em 0em;
    padding: 1.6em 1.6em 1.2em 5em;
    font-size: 1.1em;
    color: #414a4e;
}
.bookRow:hover{
  border-left: 4px solid #95d669;
}
 ul li:hover h1, ul li:hover span {
        color: #95d669; 
 }
.bookId{
  position: absolute;
    left: -1.6em;
    top: 0.7em;
    font-size: 1.4em;
    color: #27b1b5;
}
.bookTitle{
  font-size: 1.4em;
    font-weight: bolder;
    color: #27b1b5;
}
.buyUrl:hover{
  color: #95d669;
  cursor: pointer;
}
  a:hover{ text-decoration:none;} 
.tcdPageCode{padding: 15px 20px;text-align: left;color: #ccc;} 
.tcdPageCode a{display: inline-block;color: #428bca;display: inline-block;height: 25px; line-height: 25px; padding: 0 10px;border: 1px solid #ddd; margin: 0 2px;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode a:hover{text-decoration: none;border: 1px solid #428bca;} 
.tcdPageCode span.current{display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px;color: #fff;background-color: #428bca; border: 1px solid #428bca;border-radius: 4px;vertical-align: middle;} 
.tcdPageCode span.disabled{ display: inline-block;height: 25px;line-height: 25px;padding: 0 10px;margin: 0 2px; color: #bfbfbf;background: #f2f2f2;border: 1px solid #bfbfbf;border-radius: 4px;vertical-align: middle;} 

.help{
    text-align: center;
    line-height: 3em;
    color: #bfbfbf;
    font-size: 1.5em;
}
